<div class="row">
  <div class="offset3 span6">
    <% if !devise_error_messages!.empty? %>
    <div class="alert alert-error alert-floating">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= devise_error_messages! %>
    </div>
    <% end %>
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-vertical well well-raised" }) do |f| %>

    <legend>Edit Your Account</legend>
    <small class="help-block">Change your personal information:</small>
    <%= f.input :email, :label_html => {:class => "control-label"}, :error_html => { :class => 'help-block'} %>
    <%= f.input :password, :label_html => {:class => "control-label"}, :error_html => { :class => 'help-block'} %>
    <%= f.input :password_confirmation, :label_html => {:class => "control-label"},:error_html => { :class => 'help-block'} %>
    <%= f.input :current_password, :label_html => {:class => "control-label"}, :error_html => { :class => 'help-block'} %>
    <p class="help-block">
      To confirm ownership of your account, enter your existing password.
    </p> 

    <div class="form-actions align-center">
      <%= f.submit "Save Changes", :class => "btn btn-primary btn-large" %>
      <%= link_to "Cancel", root_path, :class => "btn " %>
    </div>
  <% end %>
</div>
</div>