<!DOCTYPE html>
<html>
<head>
	<title>Benevitas</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<%= render 'layouts/header' %>
		</div>
	</div>
	<div class="navbar-spacer"></div>

	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
